/** Write your CSS in here **/
body {
    text-align: center;
    background-color: rgb(27, 0, 0);
}

h1{
    margin: 0;
    color: rgb(166, 125, 125);
}

#img-container {
    margin: auto;
    width: 400px;
    height: 500px;
    border: 5px solid rgb(166, 125, 125);
    border-radius: .5em;
    padding: 10px;
    margin-bottom: 10px;
}

#carousel-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    width: 140px;
    height: 40px;
    font-size: 20px;
    color: rgb(166, 125, 125);
    background-color: #363131;
    margin: 5px;
    border: 2px solid rgb(166, 125, 125);
    border-radius: .5em;
}